html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: -webkit-linear-gradient(60deg, #47c2ff, #47edff);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.delete-cross {
  float: right;
  font-size: 14px;
}

.list-item {
  padding: 10px 0 10px 10px;
  overflow-wrap: break-word;
}

.list-item:hover {
  background-color: #f7f7f7;
}

.header-text {
  text-align: center;
  margin-top: 1rem;
  color: #383838;
}

.btn-primary {
  background-color: #6136ff !important;
  border-color: #6136ff !important;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #a38aff !important;
  border-color: #a38aff !important;
}
